<div class="Header Wrapper">
  <div class="Header-inner Wrapper-inner">
    <div class="Header-logo">
      <a class="Logo" href="{{ site.baseurl }}/">
        <img src="{{ "coady-logo.svg" | prepend: site.imagesrc | prepend: site.baseurl }}" alt="COADY logo" />
      </a>
    </div>

    <div class="Header-menu">
      <div class="Menu">
        {% for nav_page in site.pages %}

          {% if nav_page.title %}
            <a href="{{ nav_page.url }}">{{nav_page.title}}</a>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>
