@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?zi8yk2');
	src:url('/fonts/icomoon.eot?#iefixzi8yk2') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?zi8yk2') format('truetype'),
		url('/fonts/icomoon.woff?zi8yk2') format('woff'),
		url('/fonts/icomoon.svg?zi8yk2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="Icon--"], [class*=" Icon--"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Icon--twitter:before {
	content: "\e600";
}
.Icon--github:before {
	content: "\e601";
}
.Icon--tumblr:before {
	content: "\e602";
}
.Icon--stackoverflow:before {
	content: "\e603";
}
.Icon--codepen:before {
	content: "\e604";
}
.Icon--email:before {
	content: "\e605";
}
