// Fonts
$font-family: Helvetica, Arial, sans-serif;

// Spacing
$spacing: 2.5em;

// Breakpoints
$mq-widerThanMobile: "screen and (min-width: 20em)";
$mq-widerThanTablet: "screen and (min-width: 47.5em)";
$mq-widerThanTabletLandscape: "screen and (min-width: 60em)";

// Colours
$color-white: #FFF;
$color-black: #000;
// ^ don't care, sue me.
