.Header {
  padding: 1.5em 0;
  background: $color-orange;

  @media #{$mq-widerThanTablet} {
    padding: 2.5em 0;
  }
}

.Header-inner {
  position: relative;
}

.Header-logo {
  display: block;
  margin-bottom: 1.5em;

  @media #{$mq-widerThanTablet} {
    margin-bottom: 0;
  }

  img {
    display: block;
    margin: 0 auto;

    @media #{$mq-widerThanTablet} {
      margin: 0;
    }
  }
}

.Header-menu {

  text-align: center;

  @media #{$mq-widerThanTablet} {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    text-align: left;
  }
}
