.Header {
  padding: 2.5em 0;
  background: $color-orange;
}

.Header-inner {
  position: relative;
}

.Header-logo {
  display: block;

  img {
    display: block;
  }
}

.Header-menu {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
}
