.MarkdownContent {}

.MarkdownContent-inner {

  @media #{$mq-widerThanTablet} {
    width: 66.6%;
  }
}

.MarkdownContent {

  p {
    line-height: 1.875em;
    margin-bottom: 1.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    font-size: 1.6em;
    line-height: 1.4em;
    margin-bottom: 1.2em;

    @media #{$mq-widerThanTablet} {
      font-size: 2em;
    }
  }

  h2 {
    font-size: 3em;
    margin-bottom: .8em;
  }

  h4, h5, h6 {
    font-size: 1em;
  }

  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  code {}

  a {
    color: inherit;
    font: inherit;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid;
    transition: color .15s;

    &:hover {
      color: $color-orange;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }

  ul, ol {
    margin-bottom: 1.4em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    line-height: 1.875em;
    list-style-position: inside;

    @media #{$mq-widerThanTablet} {
      list-style-position: outside;
    }
  }

  code {
    font-family: monaco, monospace;
    font-weight: 400;
    font-size: inherit;
    font-size: 0.9em;
  }

  .highlight {

    margin-bottom: 1.4em;
    padding: 1em;
    background-color: #EAEAEA;

    pre {
      overflow-x: scroll;

      @media #{$mq-widerThanTablet} {
        overflow: hidden;
      }
    }

    code {
      line-height: 1.875em;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  p code {
    padding: .2em .5em;
    background-color: #EAEAEA;
  }
}
