.Menu {

  a {
    display: block;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    margin-left: 1.5em;
    text-decoration: none;
    color: inherit;

    &.is-active { font-weight: 600; }
  }
}
