.PostContent {}

.PostContent-inner {

  @media #{$mq-widerThanTablet} {
    width: 66.6%;
  }
}

.PostContent {

  p {
    line-height: 1.875em;
    margin-bottom: 1.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2em;
    font-weight: 600;
  }

  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  code {}
}
