.Post {}

.Post-intro {
  margin-bottom: 2.8em;
  text-align: center;
}

.Post-client {

  border-bottom: 2px solid;
  padding-bottom: 5px;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: $spacing / 2;

  @media #{$mq-widerThanTablet} {
    margin-bottom: $spacing * 1.5;
  }

  .Title {
    font-weight: 600;
  }
}

.Post-excerpt {

  margin-right: 1em;
  margin-left: 1em;

  .Title {
    font-weight: 600;
    font-size: 1.2em;
    max-width: 15em;
    line-height: 1.5em;

    @media #{$mq-widerThanTablet} {
      font-size: 1.5em;
    }
  }
}

.Post-details {
}

.Post-title {

  margin-bottom: 3em;

  .Title {
    font-size: 2.4em;
    font-weight: 200;
    line-height: 1.2em;
  }
}

.Post-content {}

.Post-projectLink {
  display: block;

  padding: $spacing/2 0;

  background: lighten($color-orange, 15%);
  text-decoration: none;
  color: $color-black;
  transition: background 0.15s, color 0.15s;

  span {
    font-weight: 200;
    font-size: 1.1em;
    line-height: 1.4em;
    vertical-align: middle;

    @media #{$mq-widerThanTablet} {
      font-size: 1.4em;
    }
  }

  &:hover {
    background: lighten($color-orange, 30%);
    background: invert($color-orange);
    color: $color-white;
  }
}
