.Thumbnail {

  position: relative;
  height: 100%;

  &:before {
    content: "";
    padding-top: 56.2%;
    display: block;
  }
}

.Thumbnail-inner {
  background-color: $color-orange;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: exclusion;
  transition: all .35s;

  .Thumbnail:hover & {
    background-color: $color-black;
  }
}
