.Wrapper {
  padding-left: 1.25em;
  padding-right: 1.25em;

  @media #{$mq-widerThanTablet} {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

.Wrapper-inner {
  width: 100%;
  max-width: 64em;
  margin-right: auto;
  margin-left: auto;
}
