<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="Chrome">

      <div class="StickyFooter-wrapper">

        {% if page.intro %}
          <div class="Chrome-intro">
            {% include intro.html %}
          </div>
        {% endif %}

        <div class="Chrome-header">
          {% include header.html %}
        </div>

        <div class="Chrome-content">
          {{ content }}
        </div>

        <div class="StickyFooter-push">

        </div>

      </div>

      <div class="Chrome-footer StickyFooter-footer">
        {% include footer.html %}
      </div>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42776025-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
