<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="Chrome">

      <div class="StickyFooter-wrapper">

        {% if page.intro %}
          <div class="Chrome-intro">
            {% include intro.html %}
          </div>
        {% endif %}

        <div class="Chrome-header">
          {% include header.html %}
        </div>

        <div class="Chrome-content">
          {{ content }}
        </div>

        <div class="StickyFooter-push">

        </div>

      </div>

      <div class="Chrome-footer StickyFooter-footer">
        {% include footer.html %}
      </div>

    </div>

  </body>
</html>
