---
layout: default
---

<div class="Post">

  <div class="Post-intro">
    <div class="Wrapper">
      <div class="Wrapper-inner">
        <div class="PostIntro">
          <div class="PostIntro-inner" style="background-image: url({{ "/main.jpg" | prepend: page.slug | prepend: page.imagesrc }});">
            <div class="Post-client">
              <h1 class="Title">{{ page.client }}</h1>
            </div>
            <div class="Post-excerpt">
              <h3 class="Title">{{ page.excerpt }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="Post-details">

    <div class="Wrapper">
      <div class="Wrapper-inner">
        <div class="Post-title">
          <h2 class="Title">{{ page.title }}</h2>
        </div>
      </div>
    </div>

  </div>

  <div class="Post-content">

    <div class="Wrapper">
      <div class="Wrapper-inner">
        <div class="MarkdownContent">
          <div class="MarkdownContent-inner">
            <p>
              {% if page.role and page.agency %}
                Worked as <a class="Link">{{ page.role }}</a> while at <a target="_blank" href="{{ page.agency.url }}" class="Link">{{ page.agency.name }}</a>
              {% endif %}
            </p>
            {{ content }}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
